{{#if isFolder}}
<li
  class="folder collapsed {{#unless parentMeta}}folder-root {{rootClass}}{{/unless}} {{#if meta.advanced}}advanced-item{{/if}}"
>
  <span class="folder-name" data-path="{{relativePath}}">
    <i class="fa-solid fa-chevron-right tree-arrow"></i>
    <i class="fa-solid fa-folder icon-folder"></i>
    <span class="folder-title">{{meta.title}}</span>
  </span>
</li>
{{else}}
<li
  data-path="{{relativePath}}"
  data-absolute-path="{{entry.path}}"
  class="{{#if isAdvanced}}advanced-item{{/if}} {{#if isReadonly}}readonly{{/if}} {{#if isTemp}}has-temp{{/if}}"
>
  <span
    class="file-name"
    data-path="{{relativePath}}"
    data-absolute-path="{{entry.path}}"
  >
    <i class="fa-regular fa-file-lines notes-icon icon-file"></i>
    <span class="file-title-wrapper">
      <span class="file-title">{{meta.title}}</span>
      {{#if isTemp}}<span class="dirty-asterisk">*</span>{{/if}}
    </span>
  </span>
</li>
{{/if}}
