.app-container {
  display: flex;
  flex-direction: row;
  /* Sidebar na esquerda, Editor na direita */
  flex-grow: 1;
  /* Preenche a altura restante sem vazar 25px */
  min-height: 0;
  /* OBRIGATÓRIO: Impede que o conteúdo interno force o scroll da tela */
  overflow: hidden;
}

.hidden {
  display: none !important;
}
