/* ==========================================================================
   SIDEBAR (Estrutura lateral)
   ========================================================================== */

#sidebar-container {
  background-color: var(--bg-header);
  color: var(--text-sidebar);
  border-right: 1px solid var(--border-app);
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid var(--sidebar-separator);
}

#select-book {
  height: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  color: var(--text-sidebar);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  /* Mudado de center para left para dar espaço ao botão */
  flex-grow: 1;
  /* Faz o select ocupar o espaço disponível sem empurrar o botão */
  min-width: 0;
  /* Evita estouro de largura no flexbox */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  appearance: none;
  -webkit-appearance: none;
  /* Impede quebras de linha e ativa reticências com desvanecimento */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Remove a seta padrão do sistema para visual mais limpo */
  appearance: none;
  -webkit-appearance: none;
}

select#select-book:hover {
  background-color: #ffffff14;
}

/* Estilização da caixa de opções abertas (Dropdown) */
#select-book option {
  background-color: var(--bg-header);
  /* Fundo escuro igual à sidebar */
  color: var(--bg-editor) fff;
  /* Texto branco visível */
  padding: 10px;
  font-size: 0.8rem;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
}

/* Container que coloca o Select e o Botão na mesma linha */
.book-title-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0px 15px;
}

/* Ajuste fino no botão do menu (engrenagem) */
.menu-icon-btn {
  background: transparent;
  border: none;
  color: var(--text-sidebar);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  opacity: 0.7;
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}

/* Efeito hover discreto */
.menu-icon-btn:hover {
  opacity: 1;
  transform: rotate(30deg);
}
